<ng2-kw-gauge
  [bgRadius] = pieGraph.bgRadius
  [bgColor] = pieGraph.bgColor
  [rounded] = pieGraph.rounded
  [reverse] = pieGraph.reverse
  [animationSecs] = pieGraph.animationSecs
  [segments] = pieGraph.segments>
</ng2-kw-gauge>

<ng2-kw-gauge
  [bgRadius] = nautilusGraph.bgRadius
  [bgColor] = nautilusGraph.bgColor
  [rounded] = nautilusGraph.rounded
  [reverse] = nautilusGraph.reverse
  [animationSecs] = nautilusGraph.animationSecs
  [segments] = nautilusGraph.segments>
</ng2-kw-gauge>

<ng2-kw-gauge
  [bgRadius] = laneGraph.bgRadius
  [bgColor] = laneGraph.bgColor
  [rounded] = laneGraph.rounded
  [reverse] = laneGraph.reverse
  [animationSecs] = laneGraph.animationSecs
  [segments] = laneGraph.segments>
</ng2-kw-gauge>

<ng2-kw-gauge
  [bgRadius] = progressGraph.bgRadius
  [bgColor] = progressGraph.bgColor
  [rounded] = progressGraph.rounded
  [reverse] = progressGraph.reverse
  [animationSecs] = progressGraph.animationSecs
  [labels] = progressGraph.labels
  [segments] = progressGraph.segments>
</ng2-kw-gauge>