<kwng2-gauge
  [bgColor] = pieGraph.bgColor
  [rounded] = pieGraph.rounded
  [reverse] = pieGraph.reverse
  [segments] = pieGraph.segments>
</kwng2-gauge>

<kwng2-gauge
  [bgColor] = nautilusGraph.bgColor
  [rounded] = nautilusGraph.rounded
  [reverse] = nautilusGraph.reverse
  [segments] = nautilusGraph.segments>
</kwng2-gauge>

<kwng2-gauge
  [bgColor] = laneGraph.bgColor
  [rounded] = laneGraph.rounded
  [reverse] = laneGraph.reverse
  [segments] = laneGraph.segments>
</kwng2-gauge>

<kwng2-gauge
  [bgColor] = progressGraph.bgColor
  [rounded] = progressGraph.rounded
  [reverse] = progressGraph.reverse
  [segments] = progressGraph.segments>
</kwng2-gauge>